
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
    </head>
    <body>
    
  
    <div class="super-container">
    <div class="row text-center" style="margin-top: 150px;">  
     <% @advs.each do |adv| %>
      <div class="stamp-sheet">
      <div class="stamp" >
      <h3 style="position: absolute;left: 10px;top:50%;color:black;background: white;"><%= adv.area%></h3>
      <a href=<%=adv_path(adv)%>>
      <img src="<%= adv.img %>" width=600 hight =400 ></a> 
    </div> 
                  
    </div>
    <% end%>

  </div> 

  </div>    
</body>
   
   
    
